main.container {
    margin-bottom: 100px;
    background-color: #ffffff;
}

nav .navbar-brand > img {
    display: inline-block;
    height: 100%;
    margin-right: 10px;
}
.page-content .content {
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 75px;
    position: relative;
    overflow-x: hidden;
}
.ngx-gridable .ngx-body {
    position: relative;
    z-index: 300;
}
.table-width {
    width: 100%;
}
.table-pagination {
    border-color: transparent;
}
.table {
    border: 1px solid #ccc;
    margin: 0;
}
.table-responsive {
    overflow-x: auto;
    min-height: .01%;
}
body {
    direction: ltr;
    background-color: #e5e9ec;
    color: #333;
    font-family: 'Open Sans',Arial,sans-serif;
    font-size: 14px;
    padding: 0!important;
    margin: 0!important;
    line-height: 18px;
    font-style: normal;
    font-weight: 400;
    height: 100%;
}