{{define "title"}}Home{{end}}

{{define "body"}}
<div class="container">

</div>
<h1>Ledger Transactions</h1>

<pre>
    Last Transaction: {{.Hello}}
</pre>

<table class="table-pagination table table-striped table-hover table-condensed table-responsive row-border table-width ngx-body" id="FindCreditorInvoice_SearchResults" page-size="20" empty-label="No results found" show-contextmenu="true">
  <tbody>
  <tr>
      <th scope="row">Key</th>
    {{range .History}} <td>{{.}} </td> {{end}}
  </tr>
  <tr>
      <th scope="row">Value</th>
      {{range .HistoryVal}} <td>{{.}} </td> {{end}}
  </tr>
  </tbody>
</table>
<br>
<a href="request.html">Change the Hello value</a>
{{end}}