{{define "title"}}Home{{end}}

{{define "body"}}
<div class="container">

</div>
<h1>Home</h1>

<pre>
    Hello: {{.Hello}}
</pre>
    <!--<div ng-repeat="n in [42, 42, 43, 43] track by $index">-->
        <!--{{n}}-->
    <!--</div>-->

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Transaction ID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1 History: </th>
        <td>
	        {{range .History}}
	        {{.}}
	        {{end}}
    	</td>
    </tr>
  </tbody>
</table>

<a href="request.html">Change the Hello value</a>
{{end}}